@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    
}
body, html {
    margin: 0,auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
.wrapper{
    position: relative;
    width: 1370px;
    height: 100vh;
}
.logo{
    width: 100px;
    display: flex;
    img{
        width: 50px;
    }
}
.sidebar{
    padding: 10px;
    position: absolute;
    width: 200px;
    color: white;
    height: 100vh;
    background-color: #a91515;

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    a{
        text-align: center;
        text-decoration: none;
        color: white;
        width: 100%;
        transition: .3s;
        transition-property: background-color;
    }
    a:hover{
        background-color:#bc3131;
    }
    .menu{
        margin-top: 20px;
        line-height: 4.5;
        font-size:.8rem;
        display: flex;
        flex-direction: column;
    }
}

.container{
    width: 1100px;
    height: 100vh;
    position: relative;
    left: 250px;
    padding: 20px;


    .small-box{
        margin-top: 20px;
        font-size: 1rem;
        width: 300px;
        height: 100px;
    }
    .title{
        padding: 10px;
        position: relative;
        top: 10px;
        width: 250px;
        text-align: left;
        border-radius: 20px;
        background-color: #f4f4f4;
    }

}

.dropdown {
    margin-top: 20px;
    position: relative;
    left: 5px;
    top: 30px;
    display: inline-block;
    font-size: .9rem;
    p{
        margin-bottom: 20px;
    }
}

.dropdown-content {
    position: absolute;
    background-color: #f4f4f4;
    border-style: none;
    padding: 3px;
    min-width: 130px; 
    border-radius: 12px;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    display: block; 
    line-height: 2;

}

.count{
    position: relative;
    left: 300px;
    bottom: 100px;
    width: 650px;
    height: 80px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.activate-btn{
    width: 200px;
    position: relative;
    bottom: 70px;
    left: 790px;
    button{
        border-style: none;
        width: 200px;
        padding: 5px;
        border-radius: 20px;
        background-color: #a91515;
        color: white;
        transition: background-color 0.3s ease;
    }
}
.activate-btn button:hover{
    cursor: pointer;
    background-color: #861818;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .9rem;
    width: 250px;
    height: 50px;
    border-style: solid;
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff3131, #ff914d);
}

.table-container{
    position: relative;
    bottom: 60px;
    width: 1000px;
    height: 310px;
    font-size: 15px;
    overflow-y: auto;
        th, td {
            padding: 10px;
            background-color: #e0dcdc;
            text-align: center;
            border-radius: 10px; 
        }
    
    table {
        width: 100%;
        border-collapse: separate; 
        border-spacing: 10px;
    }
}
.active{
    display: block;
}

/* curriculum css */
.curriculum-container,.assign-container,.container{
    width: 1100px;
    height: 100vh;
    position: absolute;
    left: 230px;
    top: 0px;
    padding: 20px;  

    header{
        font-size: 12px;
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p{
        font-size: .8rem;
    }
}

.curriculum-container header{
    font-size: 12px;
}

.select-program{
    position: relative;
    top: 20px;

    p{
        margin-bottom: 10px;
    }
}

.container-form{
    height: 220px;
    font-size: 13px;
}
.input-form-left{
    width: 300px;
    position: relative;
    top: 60px;

    label{
        margin-top: 10px;
    }

    input{
        outline: none;
        width: 300px;
        background-color: #f4f4f4;
        border-radius: 20px;
        border-style: none;
        font-size: 12px;
        padding: 8px;
    }
}

.input-form-right{
    width: 300px;
    position: relative;
    left: 500px;
    bottom: 125px;

    label{
        margin-top: 10px;
    }

    input{
        outline: none;
        width: 300px;
        background-color: #f4f4f4;
        border-radius: 20px;
        border-style: none;
        font-size: 12px;
        padding: 8px;
    }
}

.register-btn{
    position: relative;
    bottom: 100px;
    left: 500px;

    button{
        width: 320px;
        padding: 5px;
        border-radius: 20px;
        background-color: #a91515;
        color: white;
        border-style: none;
    }
}

.register-btn button:hover{
    cursor: pointer;
}
.course-table{
    width: 1050px;
    height: 250px;
    overflow-y: auto;
    position: relative;
    bottom: 10px;
}
.filter-program{
    margin-top: 15px;
    font-size: 12px;
    width: 300px;

    label{
        margin-top: 10px;
    }
    select{
        position: relative;
        left: 150px;
        bottom: 25px;
        width: 160px;
    }

}
.total-credit{
    position: relative;
    left: 880px;
    top: 40px;
}

.remove-course{
    position: relative;
    top: 270px;
    left: 880px;
    color: #bc3131;
    font-weight: bold;
}
.course-container{
    position: relative;
    bottom: 10px;
    width: 1000px;
    height: 240px;
    font-size: 15px;
        th, td {
            padding: 10px;
            background-color: #e0dcdc;
            text-align: center;
            border-radius: 10px;
            font-size: 15px; 
        }
        th {
            font-weight: bold; 
        }
         table {
        width: 100%;
        border-collapse: separate; 
        border-spacing: 10px;
         }
}

/* ASSIGN SCHEDULE CSS */
.inputSched-container{
    height: 200px;
    padding: 10px;
  
}

.select-teacher{
    position: relative;
    top: 20px;
    width: 300px;
    font-size: 13px;
    p{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .dropdown-content{
        width: 200px;
    }
}

.select-day{
    position: relative;
    top: 80px;
    width: 300px;
    p{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .dropdown-content{
        width: 200px;
    }
}

.location-container{
    width: 500px;
    position: relative;
    left: 500px;
    bottom: 35px;
    font-size: 13px;
    margin-bottom: 30px;
    
    input{
        width: 500px;
        background-color: #f4f4f4;
        border-radius: 20px;
        border-style: none;
        padding: 3px;
        outline: none;
        font-size: 13px;
        margin-top: 5px;
    }
}

.time-pick{
    width: 500px;
    position: relative;
    left: 500px;
    bottom: 35px;
    font-size: 13px;
    margin-bottom: 10px;

    input{
        width: 200px;
        background-color: #f4f4f4;
        border-radius: 20px;
        border-style: none;
        text-align: left;
        padding: 3px;
        outline: none;
        font-size: 13px;
        margin-top: 5px;
    }
}

.confirmSched-btn{
    position: relative;
    bottom:75px;
    left: 800px;

    button{
        color: white;
        background-color: #a91515;
        padding: 4px;
        font-size: 12px;
        width: 200px;
        border-style: none;
        border-radius: 20px;

    }

    button:hover{
        cursor: pointer;
    }
}
.edit-sched{
    width: 150px;
    position: relative;
    left: 450px;
    bottom: 40px;
    p{
        font-size: .8rem;
        color: #861818;
    }
}
.edit-sched:hover{
    cursor: pointer;
    text-decoration: underline;
}
.table-schedule {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3{
        position: relative;
        right: 500px;
        margin-bottom: 20px;
    }

  
}

.list-sched{
    position: relative;
    bottom: 30px;
    width: 1100px;
    height: 250px;
    font-size: 15px;
    overflow-y: auto;
        th, td {
            padding: 10px;
            background-color: #e0dcdc;
            text-align: center;
            border-radius: 10px; 
        }
        th{
            background-color: #a91515;
            color:white;
        }
    table {
        width: 100%;
        border-collapse: separate; 
        border-spacing: 10px;
    }
}
/* Responsive pc */
@media (min-width:1500px){
    .wrapper{
        position: relative;
        width: 10px;
        height: 100vh;
    }
    
}